@charset "utf-8";
/* CSS Document */

body {
	font: 1em/150% arial;
	background-color: green;
	background-size: 100%;
	
}
a {
	color: #669;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font: bold 36px/100% arial;
}
.texto {
	padding: 2%;
}
.numero-colunas {
	-moz-column-count: 3;
	-moz-column-gap: 5%;
	-moz-column-rule: 1px solid #ccc;
	-webkit-column-count: 3;
	-webkit-column-gap: 5%;
	-webkit-column-rule: 1px solid #ccc;
	width: 90%;
	padding: 2%
}

.bg{
background-image:url(img/fundo-espaco.png);
background-size: 100%;
	
}
.imagem {
	width: 100%;
	height: auto;
	text-align: center;
	border-bottom: medium;
	border-bottom-color: #0DCF05;
	border-radius: 5px;
}
/**** estrutura do HTML ****/
.jogo {
	padding: 5px;
	width: 100%;
	margin: 20px auto;
}
header {
	height: 50px;
	background-color: #09c;
}
article {
	width: 730px;
	float: center;
	background-color: transparent;
}
aside {
	width: 300px;
	float: right;
}
footer {
	clear: both;
}

/**** MEDIA QUERIES ****/

/**** para o máximo de 980px ****/
@media screen and (max-width:980px) {
#jogo {
	width: 94%;
}
article {
	width: 65%;
}
aside {
	width: 30%;
}
}

/**** para o máximo de 700px ****/
@media screen and (max-width:700px) {
article {
	width: auto;
	float: none;
}
aside {
	width: auto;
	float: none;
}
}

/**** para o máximo de 480px ****/
@media screen and (max-width:480px) {
header {
	height: auto;
}
h1 {
	font-size: 24px;
}
aside {
	display: none;
}
}
/**** Backgrounds ****/
article {
	background-color: transparent;
}
aside {
	background-color: #f6f;
}
footer {
	background-color: #fc3;
}
.botao {
	color: green;
	background-color: #fff;
	border-radius: 10px 20px 30px 40px;
}


}

.imagem {
	
border-radius: 15px;	
	
}

.botao{
	color: green;
    background-color: #fff;
	border-radius: 10px 20px 30px 40px;

}



