//Colors
$green: #057708;
$blue: #02aac6;
$white: #ffffff;

//Fontes

@import url('https://fonts.googleapis.com/css?family=Bangers|Press+Start+2P');

$font-logo: 'Bangers', serif;
$font-body: 'Press Start 2p', serif;


.container-game {
  display: flex;
  justify-content: center;
  button {
    margin: 5px;
    padding: 15px;
  }
}



