.container-instru {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instru {
  font-family: $font-body;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 25px;
}